@font-face {
    src: url("fonts/RedHatMono.ttf");
}

.text {
    -fx-font-family: 'Red Hat Mono Light';
    -fx-text-fill: white;
}

.title {
    -fx-font-size: 27;
}

.menu {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-background-color: #A2A7A5;
    -fx-background-radius: 7;
}

.background {
    -fx-background-color: black;
}